<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <div>
        <a routerLink="/">
          <span class="label">News</span>
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout class="navigation-items">
          <li>
            <a routerLink="/" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
              <span class="label">Login</span>
            </a>
          </li>
          <li>
            <a *ngIf="auth.isAuthenticated()" (click)="auth.logout()" type="button">
              <span class="label">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

