<div class="container">
  <div fxLayout="column" fxLayoutAlign="center center">
        <div class="content mat-elevation-z8">
          <mat-paginator [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
          <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef style="display: none;"> Title </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <wcl-item [item]="element"></wcl-item>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
  </div>
  <footer></footer>
</div>
